<!DOCTYPE html>
<html>

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144941895-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-144941895-1');
  </script>
  <title>Egg Hunt - UP</title>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
  <meta property=og:image:width>
  <meta property=og:image:height>
  <meta property="og:site_name" content="Egg Hunt - UP"/>
  <meta property="og:title" content="Egg Hunt - UP" />
  <meta property="og:image" content="https://maurelius.com/images/egg.jpg" />
  <meta property=og:description content="Campus Wide Egg Hunt- Onwards & Upwards!">
  <meta name=description content="Campus Wide Egg Hunt- Onwards & Upwards!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Campus Wide Egg Hunt- Onwards & Upwards!" />
  <meta name="keywords" content="Matthew Gunton, Gunton, Matthew, Lehigh University, Lawrenceville, Lawrenceville School, iOS, Eye Remember, Reshwap, You Choose, Alexa, Computer Science and Business, Onwards & Upwards, Onwards, Upwards" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name=twitter:image content="https://maurelius.com/images/egg.jpg" />
  <meta name=twitter:description value="Campus Wide Egg Hunt- Onwards & Upwards!">
  <meta property=og:title content="Egg Hunt - UP">
  <meta name=twitter:title value="Egg Hunt - UP">
  <meta name=twitter:card content=summary_large_image>
  <meta name=twitter:domain value=maurelius.com>
  <meta name=twitter:site content=@matthewjgunton>
  <meta name=twitter:creator content=@matthewjgunton>
  <meta name=twitter:url value=http://www.maurelius.com>
  <meta name=twitter:label1 value="Onwards & Upwards!">
  <meta name=twitter:data1 value=me@maurelius.com>
  <link rel="apple-touch-icon-precomposed" href="/favicon.png"></link>
  <link rel="shortcut icon" href="/favicon.png"></link>
  <link rel=mask-icon href="/favicon.png" color=#000000>
  <link rel="icon" href="/favicon.png"></link>
  <link rel=icon type=image/png sizes=32x32 href="/favicon.png">
  <link rel=icon type=image/png sizes=16x16 href="/favicon.png">
  <meta name=msapplication-TileColor content=#ffffff>
  <meta name=msapplication-config content="/favicon.png">
  <meta name=theme-color content=#1c1c1d>

  <link href = "/css/common.css" rel ="stylesheet" />
  <link href = "/css/landing.css" rel="stylesheet" />
  <link href = "/css/bg.css" rel="stylesheet" />
  <link href = "/css/bio.css" rel="stylesheet" />
  <link href = "/css/testimonials.css" rel="stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <!--Leaderboard component, personal score, enter eggs piece-->

  <center>
  <h3>Welcome, <%=user.name.givenName%> <%=user.name.familyName.charAt(0)%></h3>

  <div style="border-top: 2px solid white; border-bottom: 2px solid white">
    <h1>Found an Egg?</h1>
    <h2>Enter Its Code Here:</h2>
    <input style = "padding: 12px 20px; margin: 8px 0; box-sizing: border-box; width: 45%;" id='code' name='code' placeholder="Secret Code" autocomplete="off"></input><br/>
    <button style = "background-color: white; font-size: 12px; border-radius: 20px; width: 30%;" type="button" onclick="checkDig()">Submit</button><br/><br/>
  <div>

  </center>

  <div style = "text-align: center" id = "leaderboard">
    <h2>You've found <%=user.eggsFound%> Egg(s)</h2>
  </div>

  <div style = "text-align: left; border-top: 2px solid white;">
    <h1 style="text-align: center;">Rules</h1>
    <ol>
      <li>Follow All COVID Restrictions Set by Lehigh COVID Response Team</li>
      <li>Find eggs, and put the code you find in that egg into the website</li>
      <li>Throw out eggs after you find them</li>
      <li>All participants must have On-Campus Resources</li>
      <li>Winners will be notified via email after the hunt is over</li>
      <li>All winners are entitled to a dinner from any restaurant listed on Doordash up to the amount they win listed on this website</li>
      <li>No throwing eggs</li>
      <li>No sabotaging eggs by moving them after game start; Especially when putting them in areas outside of the initial guidelines.</li>
      <li>No trying to guess codes to put into the website</li>
    </ol>
  </div>

  <% include ../partials/footer.ejs %>

  <script src = "/vanillaJS/testimonials.js"></script>

  <script>
  getLeaderboard('/rabbit/leaderboard');
  let boot = 0;
  function getLeaderboard(theUrl){
      var xhr = new XMLHttpRequest();
      xhr.open("GET", theUrl, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function() {
          if (xhr.readyState == 4 && xhr.status == 200){
              var json = JSON.parse(xhr.responseText);
              console.log("data", json);
              let text = "<h1>Leaderboard</h1><ol>";
              for(let i = 0; i < json.data.length; i++){
                text += "<li>";
                if(json.data[i].userid === <%=user.userid%>){
                  text += "<b>";
                }
                text += json.data[i].name.givenName+" "+json.data[i].name.familyName.charAt(0)+"  : "+json.data[i].eggsFound+" Eggs";
                if(json.data[i].userid === <%=user.userid%>){
                  text += "</b>";
                }
                if(i == 0 || i == 1){
                  text += " - up to $100 dinner";
                }
                if(i == 2 || i == 3){
                  text += " - up to $75 dinner";
                }
                if(i == 4 || i == 5){
                  text += " - up to $50 dinner";
                }
                if(i == 6 || i == 7){
                  text += " - up to $25 dinner";
                }
                text += "</li>"
              }
              text += "</ol>";
              $("#leaderboard").append(text);
            }
      }
      xhr.send(null);
  }
  function checkDig(val){
    if(boot >= 2){
      window.location.href = "/rabbit/out";
    }
    let code = document.getElementById("code").value;
    let digitVal = 11;
    for(let i = 0; i < code.length; i++){
      digitVal += code.charCodeAt(i);
    }
    if(digitVal % 11 != 2){
      alert("Don't put in bad codes");
      boot++;
      document.getElementById("code").value = "";
      return false;
    }else{
      var xhr = new XMLHttpRequest();
      var url = "/rabbit/foundEgg";
      xhr.open("POST", url, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
              var json = JSON.parse(xhr.responseText);
          }
      };
      var data = JSON.stringify({"userid": "<%=user.userid%>", "code": code});
      xhr.send(data);
      xhr.onload = function(d) {
	var json = JSON.parse(xhr.responseText);
	console.log("data",json);
        if(json.msg === "success!"){
          alert("We got it! Keep it up!");
          window.location.href = "/rabbit";
        }
        if(json.msg === "nse"){
          alert("That egg doesn't exist");
          boot++;
        }
        if(json.msg === "fAl"){
          alert("Someone has already found this egg");
          boot++;
        }
        if(json.msg === "bad request!"){
          alert("Bad Internet Connection. Please try again later");
        }
        document.getElementById("code").value = "";
      }
    }
  }
  </script>

</body>

</html>
