<html>


<head>

  <% include ./partials/mattHead.ejs %>
  <!-- Our Custom CSS -->
    <link rel ="stylesheet" href = "/budget.css"></link>

</head>

<body>
  <div class = "wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Matthew J Gunton's Budgeter</h3>
        </div>

        <ul class="list-unstyled components">
          <li>
            <a href="#budgetTrackerSubmenu" data-toggle="collapse" aria-expanded="false">Add Purchase</a>
            <form method = "post" action = "/budget/budgetTracker">
              <ul class="collapse list-unstyled" id="budgetTrackerSubmenu">
                <li><input name = 'place' placeholder="place"></input></li>
                <li>$<input name = 'amount' type = 'number' placeholder="amount"></input></li>
                <li>
                  <select id = "category">
                      <option value = "null">--Budget Category--</option>
                    <%for(var i = 0; i < items.length; i++){%>
                      <option value = "<%=items[i].itemName%>"><%=items[i].itemName%></option>
                    <%}%>
                  </select>
                </li>
                <input hidden placeholder="Category" name = 'category'></input>
                <li><button>submit</button></li>
              </ul>
            </form>
          </li>
            <li><a href = "/schedule">Go To Schedule</a></li>
        </ul>

    </nav>

    <div id = "content">

      <nav class="navbar navbar-default">
          <div class="container-fluid">

              <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                      <i class="glyphicon glyphicon-align-left"></i>
                      <button type="button" id="sidebarCollapse" class="navbar-btn">
                          <span></span>
                          <span></span>
                          <span></span>
                      </button>
                  </button>
              </div>


              <span>Matthew J Gunton's Budget for Month of <%=month%></span>
          </div>
      </nav>
    <center>
      <!-- <div class = 'row'>
        <h1>MJG Budget</h1>
        <a href = "/budget/budgetTracker">Keep Track</a>
        <a href = "/schedule">Back Home</a>
      </div> -->

    <!--
    todo:

    we need to find a better way to stylize this table
    we can also see the individual purchases if we click on something

    -->

    <div class = "row">
      <div class = 'col-sm-12'>
        <form method = "post" action = "/budget/newBudgetItem">
          <input name = "itemName" placeholder="new budget item"></input>
          <!--*eventually let the types be editable*-->
          <select id = "itemTypes">
            <option value = "income"></option>
            <option value = "investment"></option>
            <option value = "debt"></option>
            <option value = "loans"></option>
            <option value = "expenses"></option>
          </select>
          <input name = "type" hidden></input>
          <button>Submit</button>
        </form>
      </div>
    </div>
    <!--This form will be put into each and every one of the td-->

    <div id = "middleSection">
      <table>
        <div class = "row">
          <tr>
            <th>Item</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>Remaining</th>

          </tr>
        </div>

        <%var items = items;
          var budgeted = budgeted;
          var itemTypes = ["income", "investment", "debt", "loans", "expenses"];%>

          <!--we'll have a table for each item type-->
            <%for(var type = 0; type < itemTypes.length; type++){%>
              <%for(var m = 0; m < items.length; m++){%>
            <!--we need the following:
              *Now, we want division between them
          -->
          <%if(items[m].type == itemTypes[type]){%>
            <div class = "row">
              <tr>
                <form method = "post" action = "/budget/newBudgetItemEntry">
                  <td>
                    <%=items[m].itemName%>-<%=itemTypes[type]%>
                    <input hidden value = "<%=items[m].itemName%>" name = "item" placeholder="item"></input>

                  </td>
                  <td>
                    <!--how to fix when you have budgeted nothing?-->
                    <%if(budgeted.length == 0){%>
                      <input autocomplete="off" id = "budget<%=m%>" name = "budgeted" placeholder="put budgeted amount" value = ""></input>
                    <%}%>
                    <%for(var g = 0; g < budgeted.length; g++){

                      if(items[m].itemName == budgeted[g].item){%>
                        <input autocomplete="off" id = "budget<%=m%>" name = "budgeted" value = "<%=budgeted[g].budgeted%>"></input>
                        <!--this catch all below V cannot realize if a match has already been made-->
                        <% g = budgeted.length%>
                      <% }

                      if(g == budgeted.length - 1){%>
                        <input autocomplete="off" id = "budget<%=m%>" name = "budgeted" placeholder="put budgeted amount" value = ""></input>
                      <%}%>
                    <%}%>
                  </td>
                  <td>
                    <!--it shoudl be a read only thing-->
                    <%if(budgeted.length == 0){%>
                      <input id = "actual<%=m%>" name = "actualed" readonly placeholder="the actual amount will appear here" value = ""></input>
                    <%}%>
                    <%for(var g = 0; g < budgeted.length; g++){

                      if(items[m].itemName == budgeted[g].item){%>

                        <input id = "actual<%=m%>" name = "actualed" readonly value = "<%=budgeted[g].actualed%>"></input>
                        <!--this catch all below V cannot realize if a match has already been made-->
                        <% g = budgeted.length%>
                      <% }

                      if(g == budgeted.length - 1){%>
                        <input id = "actual<%=m%>" name = "actualed" readonly placeholder="the actual amount will appear here" value = ""></input>
                      <%}%>
                    <%}%>



                  </td>
                  <td>
                    <span id = 'diff_<%=m%>'></span>
                    <button>SET</button>
                  </td>

                </form>
              </tr>
            </div>

              <%}%>
          <%}%>
        <%}%>



          <!---BELOW THIS WORKS FINE-->

          <!-- <tr>
            <td>Total</td>
            <td id = "budgetedTotals"></td>
            <td id = "actualedTotals"></td>
          </tr> -->



      </table>

      <div class = "row">
        <h1>Totals:<h1>
        <table>
          <%for(var m = 0; m < itemTypes.length; m++){%>
            <tr>
              <th><a href = "/budget/<%=itemTypes[m]%>"><%=itemTypes[m]%></a></th>
              <td id = "<%=[m]%>_target"></td>
            </tr>
          <%}%>
        </table>
      </div>

    </center>
  </div>
</div>
</div>

</body>

<% include ./partials/bottom.ejs %>
<script>

  $(document).ready(function(){

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

    //this will only be for budgeted
    var totals = [];
    <%for(var m = 0; m < itemTypes.length; m++){%>
      var holder = 0;
      <%for(var g = 0; g < budgeted.length; g++){%>
        <%if(items[g].type == itemTypes[m]){%>

          <%if(budgeted[g].budgeted){%>
            holder += <%=budgeted[g].budgeted%>;
          <%}
        }
      }%>
            totals.push(holder);
            $("#<%=m%>_target").text(totals[<%=m%>]);
    <%}%>

    var itemNumber = 0;
    $("#itemTypes > option").each(function(){
      $(this).text($(this).val());
      if(itemNumber == 0){
          $("input[name = 'type']").val($(this).val());
      }
      itemNumber++;
    })

    $("#itemTypes").on('change', function(){
      var newTypeVal = $("select#itemTypes option:checked").val();
      $("input[name = 'type']").val(newTypeVal);
      console.log($("input[name = 'type']").val());
    })


    $("#category").on('change', function(){
      var newTypeVal = $("select#category option:checked").val();
      $("input[name = 'category']").val(newTypeVal);
      console.log($("input[name = 'category']").val());
    })



    <%var budgetedValues = [];
    var actualedValues = [];%>

    var budgetedTotals = 0;
    var actualedTotals = 0;
    <%for(var m = 0; m < budgeted.length; m++ ){
      if(budgeted[m].budgeted){
        var budgetPiece = budgeted[m].budgeted;
      }else{
        var budgetPiece = 0;
      }

      if(budgeted[m].actualed){
        var actualedPiece = budgeted[m].actualed;
      }else{
        var actualedPiece = 0;
      }
      actualedValues.push(actualedPiece);
      budgetedValues.push(budgetPiece);

    }%>

    <%for(var m = 0; m < budgetedValues.length; m++){%>
      budgetedTotals += <%=budgetedValues[m]%>;
    <%}%>
    <%for(var m = 0; m < actualedValues.length; m++){%>
      actualedTotals += <%=actualedValues[m]%>;
    <%}%>

    $("#budgetedTotals").text(budgetedTotals);
    $("#actualedTotals").text(actualedTotals);

  })

  <%for(var m = 0; m < items.length; m++){%>
    //how to get the 2 values into the thing
    if($("#budget<%=m%>").val() && $("#actual<%=m%>").val()){
      var diff = $("#budget<%=m%>").val() - $("#actual<%=m%>").val();
    }
    else if (!$("#budget<%=m%>").val()){
      var diff = null;
    }
    else if (!$("#actual<%=m%>").val()){
      var diff = $("#budget<%=m%>").val();
    }
    console.log(diff);

    $("#diff_<%=m%>").text(diff);
  <%}%>
</script>

</html>
